@use "sass:math";
@import "~tailwindcss/base";
@import "~tailwindcss/components";
@import "~tailwindcss/utilities";

// Шрифт по умолчанию ==============================================================================================================================================================================================================================================================================
$fontFamily: "Rubik";
$fontSize: 15px; // где 14(px) - размер шрифта по умолчанию из макета
// Основные цвета
$mainColor: #0E0C0D;
$dopColor: #F7D22D;

// НАСТРОЙКИ ===============================================================================================================================================================================================================================================================================================
// Минимальная ширина страницы
$minWidth: 320;
// Ширина полотна (макета)
$maxWidth: 1500;
// Ширина ограничивающего контейнера (0 = нет ограничения)
$maxWidthContainer: 1500px;
// Общий отступ у контейнера
// (30 = по 15px слева и справа, 0 = нет отступа)
$containerPadding: 10px;

body {
	background-color: #f1f1f1;
	font-family: inherit;
	color: $mainColor;
	font-size: $fontSize;
}
// Оболочка ============================================================================================================================================================================================================================================================================================================================================================================================================================================
#__next {
	min-height: 100%;
	display: flex;
	flex-direction: column;

    .layout {
        flex: 1 1 auto;
        min-height: 100%;
        overflow: hidden;
        display: flex;
        flex-direction: column;

        > main {
            min-height: 100%;
            display: flex;
            flex-direction: column;
            flex: 1 1 auto;
        }
        // Фикс для слайдеров
        > * {
            min-width: 0;
            font-family: inherit;
        }
    }

    .layout.block {
        overflow: visible;
    }
}

[class*="__container"] {
        max-width: $maxWidthContainer;
        width: 100%;
        height: 100%;
        flex: 1 1 auto;
        margin:0 auto;
        display: flex; 
        flex-direction: column;
}

// =================================== Config ==============================================
@import './config/null.scss';